* {
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
	background-color: #fff;
	min-width: 520px;
}

body {
	font-family: 'Anonymous Pro', 'Courier', sans-serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	word-spacing: -.02em;
	font-size: 13px;
	line-height: 1.65;
    color: #1b1b1b;
    -webkit-font-smoothing: antialiased;
}

.logo {
	width: 50%;
    max-height: 33%;
    padding: 30px;
    min-width: 240px;
    max-width: 640px;
    margin: 100px;
    /*border-bottom: 2px solid #1b1b1b*/
}

.header {
	/*background: #fff;*/
	/*background: rgba(255,255,255,0.75);*/
	line-height: 80px;
	/*margin-bottom: 20px;*/
	/*border-bottom: 1px solid #f0f0f0;*/
	width: 100%;
	/*position: fixed;*/

}

.header-row {
	background-color: #fff;
	display: -webkit-flex;
	display: 		 flex;
	-webkit-flex-flow: wrap row;
	    -ms-flex-flow: wrap row;
	        flex-flow: wrap row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

.header-col {
	-webkit-flex-shrink: 0;
	        flex-shrink: 0;
}

.header-left {
	display: inline-block;
	-webkit-flex-grow: 9999;
	        flex-grow: 9999;
}

.header-right {
	float: right;
	text-align: center;
	-webkit-flex-grow: 1;
	        flex-grow: 1;
	-webkit-flex-grow: 1;
	        flex-grow: 1;
}

.header-logo {
	height: 30px;
	vertical-align: middle;
	/*padding: 0 15px 0 25px;*/
}

.header-logo-wrap {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	text-align: center;
}

.header-logo-wrap a {
	text-decoration: none;
	border-bottom: none;

}

.header-logo-text {
	position: absolute;
	height: 80px;
	width: 80px;
	text-align: right;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.05s;
	   -moz-transition: opacity 0.05s;
	    -ms-transition: opacity 0.05s;
	     -o-transition: opacity 0.05s;
	        transition: opacity 0.05s;
}

.header-logo-text span {
	color: #666666;
	border-bottom: 1px solid #dac477;
}

.header-logo-wrap:hover .header-logo-text {
	opacity: 1;
}

.nav-menu {}

.nav-menu ul {
	list-style: none;
}

.nav-menu li {
	display: inline-block;
	padding-right:25px;

}

.nav-menu li a {
	color: #1b1b1b;
	text-decoration: none;
	padding:5px;
	border-bottom: none;
}

.nav-menu li a.active {
	border-bottom: 1px solid #1b1b1b;
}

.nav-menu li a:hover{
	color: #666666;
	border-bottom: 1px solid #dac477;
}

a:hover {
	color: #666666;
	border-bottom: 1px solid #dac477;
}

a {
	color: #1b1b1b;
	text-decoration: none;
	border-bottom: 1px solid #E0E0E0;
}

.page {
	position: relative;
	height: 100%;
}

.nav-breadcrumb {
	position: relative;
	display: inline-block;
	white-space: nowrap;
}



.middle {
	height: 100%;
}

.content {
	padding: 0 60px 0 60px;
	/*min-height: 200%;*/
	/*display: flex;*/
	position: relative;
	/*-webkit-align-items: flex-start;
	        align-items: flex-start;*/
	flex-flow: wrap row;
	align-items: flex-start;
	/*justify-content: flex-end;*/
}

.content-work-detail {
	min-height: 120%;
}

.entry {
	display: -webkit-flex;
	display: 		 flex;
	-webkit-flex-flow: wrap row;
			flex-flow: wrap row;
	/*flex-shrink: 0;*/
	/*flex-grow: 1;*/
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	/*float: left;*/
	margin-bottom: 40px;
}

.content-1-col .entry {
	max-width: 520px;
}

.content-2-col.entry {
	max-width: 1000px;
}

.content-work {
	/*display: -webkit-flex;*/
	/*display: flex;*/
}

.entry>* {
	padding: 0 20px 0 20px;
	max-width: 480px;
	min-width: 360px;
	display: inline-block;
	vertical-align: top;
	/*margin-bottom: 20px;*/

}

.entry img {
	max-width: 100%;
}

.content-work .entry {
	max-width: 1680px;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	flex-basis: 720px;
	flex-grow: 1;
}

.content-work .entry>*{
	max-width: 1680px;
	-webkit-flex-shrink: 1;
	        flex-shrink: 1;
	-webkit-flex-basis: 1280px;
	        flex-basis: 1280px;
	-webkit-flex-grow: 9999;
	        flex-grow: 9999;
}
.entry .fig {
	min-width: 240px;
	max-width: 480px;
	-webkit-flex-basis: 240px;
			flex-basis: 240px;
	-webkit-flex-grow: 1;
			flex-grow: 1;
}

.content-work .entry>.fig {
	max-width: initial;
}

.entry>.block { }

.entry>.block>p {
	margin-bottom: 20px ;
}



.content .gallery {
	position: absolute;
	text-align: center;
	margin: 0 80px 60px 80px;
	left: 0;
	min-height: 120%;
	min-width: 360px;
	max-width: 480px;
	-webkit-transition: max-width 0.5s;
	   -moz-transition: max-width 0.5s;
	    -ms-transition: max-width 0.5s;
	     -o-transition: max-width 0.5s;
	        transition: max-width 0.5s;
	z-indez:-1;
}

@media (min-width: 1220px) {
  .content-1-col .gallery {
  	left:520px;
  	right:0;
  	top: 0;
  	max-width: initial;
  	-webkit-transition: left 0.5s, right 0.5s;
	   -moz-transition: left 0.5s, right 0.5s;
	    -ms-transition: left 0.5s, right 0.5s;
	     -o-transition: left 0.5s, right 0.5s;
	        transition: left 0.5s, right 0.5s;
  }
}

@media (min-width: 1620px) {
  .content-2-col .gallery {
  	left:1000px;
  	right:0;
  	top: 0;
  	max-width: initial;
  	-webkit-transition: left 0.5s, right 0.5s;
	   -moz-transition: left 0.5s, right 0.5s;
	    -ms-transition: left 0.5s, right 0.5s;
	     -o-transition: left 0.5s, right 0.5s;
	        transition: left 0.5s, right 0.5s;
  }
}


.content .gallery-fullwidth {
	max-width: 100%;
	left:0;
	right:0;
	top: initial;
}


.gallery img {
	max-width: 100%;
	margin-bottom: 20px;
}
.gallery iframe {
	width: 100%;
	min-height: 360px;
	margin-bottom: 20px;
}

.fhr {
 	font-family: 'Roboto';
	text-align: center;
}

.fhr:after {
	content: "* * *";
}

.projectinfo {
	text-align: left;
	vertical-align: top;
	line-height: 1.45;
}

.projectinfo td {
	vertical-align: top;
}

.projectinfo tr td:first-child {
	font-weight: bold;
	font-family: 'Roboto';
	padding-right: 20px;
}

.projectinfo td {
	padding-bottom: 10px;
}

h1, h2, h3, h4 {
	font-family: 'Roboto';
	font-weight: bold;
	margin: 0;
}

h1 {
	font-family: Times, 'Times New Roman';
	font-family: 'Roboto';
	font-weight: 400;
	margin: 0;
	font-weight: bold;
}

.headline {
	padding: 0 80px 0 80px;
	padding-bottom: 20px;
	width: 100%;
}

.headline-meta {
	font-size: 12px;
	color: #dac477;
	display: block;
	/*margin-bottom: 12px;*/

}

.hero {
	width: 100%;
	max-width: 100%;
	height: 400px;
	margin-bottom: 20px;
	background: url("../img/spacedog.png");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center center;
}


.splash {
	width: 100%;
    /*min-height: 100%;*/
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
            align-items: center;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 80px solid #fff;
}

.splash a {
	border-bottom: none;
}

.center {
	width: 100%;
	text-align: center;
}

.splash-nav {
	/*border-bottom: 1px solid #f0f0f0;*/
	line-height: 80px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	text-align: center;
	height: 160px;
}

.splash-nav ul {
	/*width: 380px;*/
}



.disable-hover {
  pointer-events: none;
}

.flair {
	/*position: absolute;*/
	/*position: -webkit-sticky;
	position: 		  sticky;
	background-color: crimson;
	height: 200px;
	margin-top: -200px;
	top: -200px;
	z-index: 99;
	width: 100%;*/
	height: 0;
	display: none;
}

.block>img {
	max-width: 100%;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.white {
	background-color: #fff;
}

.detail-info span {
	font-family: 'Roboto';
	font-weight: bold;
	/*text-transform: uppercase;*/
}

.detail-info .detail-info-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	margin: 15px 0 15px 0;
}

.cite-right {
	font-style: italic;
	text-align: right;
}

.cite-right::before {
	content: "—";
}

.cite-quote-left::before {
	font-family: 'Roboto';
	font-weight: bold;
	content: "“"
}

.cite-quote-right::after {
	font-family: 'Roboto';
	font-weight: bold;
	content: "”"
}

.bg {
	background: url("../img/bg.jpg");
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center center;
}
